/* .container{
        
    height: 90vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box{
    width: 35vw;
    height: 20vh;
    font-size: 10px;
}

.logo{
    height: 5vh;
    width: 11vw;
}

header{
    height: 5vh;
}

footer{
    height: 5vh;
}

footer h1{
    font-size: 1.8rem;
} */

.container{
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    width: 35vw;
    height: 28vh;
    font-size: 14px;
}

.logo{
    height: 10vh;
    width: 10vw;
}

header{
    height: 10vh;
}

footer{
    height: 10vh;
}