:root{
    --font: 1.8rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    width: 100vw;
    /* height: 15vh; */
    height: 5vh;
    background-color: #3C4048;
    display: flex;
    justify-content: space-between;
    font-size: var(--font);
}

.logo{
    /* width: 10vw;
    height: 15vh; */
    width: 11vw;
    height: 5vh;
}

.opciones{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opciones li {
    margin: 1rem;
    list-style: none;
    font-size: 2.4rem;
    color: #B2B2B2;
}

main{
    width: 100vw;
    /* height: 70vh; */
    background-color: #00ABB3;
    font-size: var(--font);
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    
}

.box{
    text-align: center;
    padding: 1rem;
    /* width: 40vw;
    height: 30vh; */
    background-color: #3C4048;
    width: 35vw;
    height: 20vh;
    font-size: 10px;
}

footer{
    display: flex;
    width: 100vw;
    /* height: 15vh; */
    height: 5vh;
    background-color: #B2B2B2;
    font-size: var(--font);
    justify-content: center;
    align-items: center;
}

footer h1{
    font-size: 1.8rem;
}

    


    
