*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container {
    border: 0.3 solid black;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.box1{
    background-color: rebeccapurple;
}

.box2{
    background-color: red;
}

.box3{
    background-color: gray;
}

.box4{
    background-color: black;
}

.box5{
    background-color: blue;
}

.box6{
    background-color: green;
}
